.App {
  text-align: center;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 80%;
  border: 4px solid white;
  line-height: 0;
  column-count: 2;
  /* grid-column-gap: 0px; */
  column-gap: normal;
}
.image img {
  width: 100% !important;
  height: auto !important;
  margin: 5px 0px;
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5px;
}
.image img:hover {
  border: 4px solid red;
  border-radius: 5px;
}
.container {
  margin: auto;
  width: 60%;
  max-height: 40%;
  border: 2px solid blue;
  padding: 10px;
}
